#Dark {

  a {
    color: $PrimLightColor;
  } 
  p{
    color: $PrimLightColor;
  }
  h1{
    color: $PrimLightColor;
  }
  h3{
    color: $PrimLightColor;
  }

  .navbar {
    background-color: $neutralDark;
    
    .navbarWrapper {

      background-color: $PrimDarkColor;
      .navigation {
        a {
          color: $PrimLightColor;
        }
      }
      .settings{
        svg {
          fill: $PrimLightColor;
        }
        .settingItems {
          background-color: $PrimDarkColor;
          button{
            color: $PrimLightColor;
            background-color: $PrimDarkColor;
          }
        }
      }
    }
  }

  .appWrapper{
    .home {
      background-color: $PrimDarkColor;
      border-color:$SecDarkColor;
      color: $PrimLightColor;

      .devices {
        a {
          border-color: $PrimLightColor;
          background-color: $PrimDarkColor;
          &:hover {
            background-color: $SecDarkColor;
          }
        }

        svg {
          fill: $PrimLightColor;
        }
      }
    }

    //Fortigate Config Site
    .fortigate {  
      .configuration {
        border: 2px solid $SecDarkColor;
        background-color: $PrimDarkColor;
        color: $PrimLightColor;
      }
        
      .textfile {
        border: 2px solid $PrimDarkColor;
        color: $PrimLightColor;
        background-color: rgb(179, 177, 177);
        button{
          background-color: $PrimDarkColor;
          color: $PrimLightColor;
        }
    
        svg {
          fill: $PrimLightColor;
        }
        
        .rawconfig {
          textarea{
              border: 2px solid $PrimDarkColor;
              background-color: $PrimDarkColor;
              color: $PrimLightColor;
          }
        }
      }
    }

  }
}

// __________________________ SDAG Style
#SDAG {
  a {
    color: $PrimLightColor;
  }
  p {
    color: $PrimLightColor;
  }
  h1{
    color: $PrimLightColor;
  }
  h3{
    color: $PrimLightColor;
  }
  .appWrapper{

    .navbar {
      background-color: $neutral;
      
      .navbarWrapper {
        background-color: $PrimSdagColor;
        .navigation {
          a {
            color: $PrimLightColor;
          }
        }
        .settings{
          svg {
            fill: $PrimLightColor;
          }
          .settingItems {
            background-color: $PrimSdagColor;
            button{
              color: $PrimLightColor;
              background-color: $PrimSdagColor;
            }
          }
        }
      }
    }
  
    .home {
      background-color: $PrimSdagColor;
      border-color:$PrimLightColor;
      color: $PrimLightColor;
      
      .devices {
        a {
          border-color:$PrimLightColor;
          background-color: $SecSdagColor;
          &:hover {
            background-color: $PrimSdagColor;
          }
        }

        svg {
          fill: $PrimLightColor;
        }
      }
    }

    //Fortigate Config Site
    .fortigate {  
      .configuration {
        border: 2px solid $PrimLightColor;
        background-color: $PrimSdagColor;
        color: $PrimLightColor;

        a {
          color: $PrimLightColor;
        } 
      }
        
      .textfile {
        border: 2px solid $PrimSdagColor;
        color: $PrimLightColor;
        background-color: rgb(179, 177, 177);    
        button{
          background-color: $PrimLightColor;
          color: $PrimDarkColor;
        }
    
        svg {
          fill: $PrimSdagColor;
        }
        
        .rawconfig {
          textarea{
              border: 2px solid $PrimLightColor;
              background-color: $PrimLightColor;
              color: $PrimDarkColor;
          }
        }
      }
    }
  }
}
