#darkStyle {
  a {
    color: $PrimLightColor;
  } 
  h1{
    color: $PrimLightColor;
  }
  h3{
    color: $PrimLightColor;
  }

  .appWrapper{
    .home {
      background-color: $PrimDarkColor;
      border-color:$SecDarkColor;
      color: $PrimLightColor;

      .devices {
        a {
          border-color: $PrimLightColor;
          background-color: $PrimDarkColor;
          &:hover {
            background-color: $SecDarkColor;
          }
        }

        svg {
          fill: $PrimLightColor;
        }
      }
    }

    //Fortigate Config Site
    .fortigate {  
      .configuration {
        border: 2px solid $SecDarkColor;
        background-color: $PrimDarkColor;
        color: $PrimLightColor;
      }
        
      .textfile {
        border: 2px solid $PrimDarkColor;
        color: $PrimLightColor;
        background-color: rgb(179, 177, 177);
        
        button{
          background-color: $PrimDarkColor;
        }
    
        svg {
          fill: $PrimLightColor;
        }
        
        .rawconfig {
          textarea{
              border: 2px solid $PrimDarkColor;
              background-color: $PrimDarkColor;
              color: $PrimLightColor;
          }
        }
      }
    }

  }
}

// __________________________ SDAG Style
#sdagStyle {
  a {
    color: $PrimLightColor;
  }
  h1{
    color: $PrimLightColor;
  }
  h3{
    color: $PrimLightColor;
  }
  .appWrapper{

    .home {
      background-color: $PrimSdagColor;
      border-color:$PrimLightColor;
      color: $PrimLightColor;
      
      .devices {    
        a {
          border-color:$PrimLightColor;
          background-color: $SecSdagColor;
          &:hover {
            background-color: $PrimSdagColor;
          }
        }

        svg {
          fill: $PrimLightColor;
        }
      }
    }

    //Fortigate Config Site
    .fortigate {  
      .configuration {
        border: 2px solid $PrimLightColor;
        background-color: $PrimSdagColor;
        color: $PrimLightColor;

        a {
          color: $PrimLightColor;
        } 
      }
        
      .textfile {
        border: 2px solid $PrimSdagColor;
        color: $PrimLightColor;
        background-color: rgb(179, 177, 177);    
        button{
          background-color: $PrimLightColor;
        }
    
        svg {
          fill: $PrimSdagColor;
        }
        
        .rawconfig {
          textarea{
              border: 2px solid $PrimLightColor;
              background-color: $PrimLightColor;
              color: $PrimDarkColor;
          }
        }
      }
    }
  }
}
