#Dark a {
  color: #F8F8F8;
}
#Dark p {
  color: #F8F8F8;
}
#Dark h1 {
  color: #F8F8F8;
}
#Dark h3 {
  color: #F8F8F8;
}
#Dark .navbar {
  background-color: grey;
}
#Dark .navbar .navbarWrapper {
  background-color: #313536;
}
#Dark .navbar .navbarWrapper .navigation a {
  color: #F8F8F8;
}
#Dark .navbar .navbarWrapper .settings svg {
  fill: #F8F8F8;
}
#Dark .navbar .navbarWrapper .settings .settingItems {
  background-color: #313536;
}
#Dark .navbar .navbarWrapper .settings .settingItems button {
  color: #F8F8F8;
  background-color: #313536;
}
#Dark .appWrapper .home {
  background-color: #313536;
  border-color: black;
  color: #F8F8F8;
}
#Dark .appWrapper .home .devices a {
  border-color: #F8F8F8;
  background-color: #313536;
}
#Dark .appWrapper .home .devices a:hover {
  background-color: black;
}
#Dark .appWrapper .home .devices svg {
  fill: #F8F8F8;
}
#Dark .appWrapper .fortigate .configuration {
  border: 2px solid black;
  background-color: #313536;
  color: #F8F8F8;
}
#Dark .appWrapper .fortigate .textfile {
  border: 2px solid #313536;
  color: #F8F8F8;
  background-color: rgb(179, 177, 177);
}
#Dark .appWrapper .fortigate .textfile button {
  background-color: #313536;
  color: #F8F8F8;
}
#Dark .appWrapper .fortigate .textfile svg {
  fill: #F8F8F8;
}
#Dark .appWrapper .fortigate .textfile .rawconfig textarea {
  border: 2px solid #313536;
  background-color: #313536;
  color: #F8F8F8;
}

#SDAG a {
  color: #F8F8F8;
}
#SDAG p {
  color: #F8F8F8;
}
#SDAG h1 {
  color: #F8F8F8;
}
#SDAG h3 {
  color: #F8F8F8;
}
#SDAG .appWrapper .navbar {
  background-color: #B3B1B1;
}
#SDAG .appWrapper .navbar .navbarWrapper {
  background-color: #0054A0;
}
#SDAG .appWrapper .navbar .navbarWrapper .navigation a {
  color: #F8F8F8;
}
#SDAG .appWrapper .navbar .navbarWrapper .settings svg {
  fill: #F8F8F8;
}
#SDAG .appWrapper .navbar .navbarWrapper .settings .settingItems {
  background-color: #0054A0;
}
#SDAG .appWrapper .navbar .navbarWrapper .settings .settingItems button {
  color: #F8F8F8;
  background-color: #0054A0;
}
#SDAG .appWrapper .home {
  background-color: #0054A0;
  border-color: #F8F8F8;
  color: #F8F8F8;
}
#SDAG .appWrapper .home .devices a {
  border-color: #F8F8F8;
  background-color: #0489D9;
}
#SDAG .appWrapper .home .devices a:hover {
  background-color: #0054A0;
}
#SDAG .appWrapper .home .devices svg {
  fill: #F8F8F8;
}
#SDAG .appWrapper .fortigate .configuration {
  border: 2px solid #F8F8F8;
  background-color: #0054A0;
  color: #F8F8F8;
}
#SDAG .appWrapper .fortigate .configuration a {
  color: #F8F8F8;
}
#SDAG .appWrapper .fortigate .textfile {
  border: 2px solid #0054A0;
  color: #F8F8F8;
  background-color: rgb(179, 177, 177);
}
#SDAG .appWrapper .fortigate .textfile button {
  background-color: #F8F8F8;
  color: #313536;
}
#SDAG .appWrapper .fortigate .textfile svg {
  fill: #0054A0;
}
#SDAG .appWrapper .fortigate .textfile .rawconfig textarea {
  border: 2px solid #F8F8F8;
  background-color: #F8F8F8;
  color: #313536;
}

* {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: left 60px;
  background-image: url("../../public/sdag_standort.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B3B1B1;
}

.navbar {
  background-color: #F8F8F8;
  margin-bottom: 40px;
}
.navbar .navbarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
  max-width: 1280px;
  background-color: #0054A0;
  border-radius: 15px;
}
.navbar .navbarWrapper .navigation {
  padding-left: 80px;
}
.navbar .navbarWrapper .navigation p {
  font-weight: bold;
  text-decoration: underline;
}
.navbar .navbarWrapper .navigation a {
  text-decoration: none;
  color: azure;
}
.navbar .navbarWrapper .navigation a:hover {
  text-decoration: underline;
  font-size: 110%;
  opacity: 0.7;
}
.navbar .navbarWrapper .settings {
  padding-right: 50px;
  display: flex;
  position: relative;
}
.navbar .navbarWrapper .settings svg {
  width: 20px;
  fill: #F8F8F8;
}
.navbar .navbarWrapper .settings svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.navbar .navbarWrapper .settings .settingItems {
  position: absolute;
  top: 40px;
  right: -10px;
  background-color: #0054A0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 4px;
  width: 100px;
}
.navbar .navbarWrapper .settings .settingItems button {
  padding: 5px;
  color: #F8F8F8;
  background-color: #0054A0;
}
.navbar .navbarWrapper .settings .settingItems button:hover {
  opacity: 0.7;
}

.home {
  margin: auto;
  max-width: 600px;
  background-color: #0054A0;
  border-color: #F8F8F8;
  border-style: solid;
  border-radius: 50px;
  color: aliceblue;
  padding: 0px 0px 50px;
}
.home .devices {
  padding-bottom: 20px;
  margin: auto;
}
.home .devices h1 {
  margin: 10px;
  margin-bottom: 0px;
  padding: 20px;
}
.home .devices p {
  padding: 40px;
  padding-bottom: 70px;
  font-size: 22px;
}
.home .devices a {
  padding-top: 30px;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-color: azure;
  border-style: solid;
  border-radius: 30px;
  background-color: #0489D9;
}
.home .devices a:hover {
  transition: 0.3s;
  font-size: 110%;
  opacity: 1;
  background-color: #0054A0;
  font-weight: bold;
}
.home .devices svg {
  margin: auto;
  height: 15px;
  width: 15px;
  fill: white;
}
.home .contact {
  margin: auto;
  max-width: 400px;
  padding-top: 50px;
}
.home .contact p {
  font-size: 13px;
}
.home .contact a {
  text-decoration: none;
  color: white;
}
.home .contact a:hover {
  text-decoration: underline;
  font-size: 110%;
  opacity: 0.7;
}

.fortigate {
  margin: auto;
  display: flex;
  max-width: 1600px;
}
.fortigate h1 {
  padding: 30px;
}
.fortigate .configuration {
  flex: 1;
  border: 2px solid white;
  background-color: #0054A0;
  border-radius: 50px 0px 0px 50px;
  padding: 20px;
  color: white;
}
.fortigate .configuration form {
  flex-direction: row;
}
.fortigate .configuration form label {
  padding: 0px 25px;
}
.fortigate .textfile {
  max-width: 400px;
  border: 2px solid #0054A0;
  border-radius: 0px 25px 25px 0px;
  color: white;
  background-color: rgb(179, 177, 177);
  padding: 20px;
  max-height: 100vh;
  white-space: nowrap;
  width: 100%;
}
.fortigate .textfile h3 {
  padding-top: 20px;
  color: white;
}
.fortigate .textfile label {
  float: right;
}
.fortigate .textfile button {
  background-color: white;
}
.fortigate .textfile svg {
  height: 35px;
  width: 35px;
  fill: #0054A0;
}
.fortigate .textfile svg:hover {
  cursor: pointer;
}
.fortigate .textfile .rawconfig textarea {
  width: 100%;
  min-height: 650px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-size: 16px;
  text-align: left;
}
.fortigate .textfile .rawconfig p {
  text-align: left;
  color: black;
  background-color: white;
}

.nopage {
  padding: 50px;
}
.nopage h1 {
  padding-bottom: 20px;
}
.nopage a {
  text-decoration: none;
  color: #0489D9;
}
.nopage a:hover {
  text-decoration: underline;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */