// Variables
$PrimSdagColor: #0054A0;
$SecSdagColor: #0489D9;
$PrimDarkColor: #313536;
$SecDarkColor:black ;
$PrimLightColor:#F8F8F8;
$neutral: #B3B1B1;
$neutralDark: grey;

// __________________ Imports
@import "_ThemeStyles.scss";

* {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: left 55px;
  background-image: url("../../public/sdag_standort.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B3B1B1;
}

// ___________________________ Navbar
.navbar {
  background-color: $PrimLightColor;
  margin-bottom: 40px;

  .navbarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin: auto;
    max-width: 1280px;
    background-color: $PrimSdagColor;
    border-radius: 15px;
    .navigation {
      padding-left: 80px;
      p {
        font-weight: bold;
        text-decoration: underline;
      }
      a {
        text-decoration: none;
        color: azure;
        &:hover {
          text-decoration: underline;
          transform: scale(1.2);
          opacity: 0.7;
        }
      }
    }
    .settings{
      padding-right: 50px;
      display: flex;
      position: relative;
      svg {
        width: 20px;
        fill: $PrimLightColor;
        &:hover {
          cursor: pointer;
          scale: 110%
        }
      }
      .settingItems {
        position: absolute;
        top: 40px;
        right: -10px;
        background-color: $PrimSdagColor;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 4px;
        width: 100px;
        button{
          padding: 5px;    
          color: $PrimLightColor;
          background-color: $PrimSdagColor;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

//____________________________ Home
.home {
  margin: auto;
  max-width: 600px;
  background-color: $PrimSdagColor;
  border-color:$PrimLightColor;
  border-style: solid;
  border-radius: 50px;
  color: aliceblue;
  padding: 0px 0px 50px;
  
  .devices {
    padding-bottom: 20px;
    margin: auto;
    
    h1 {
      margin: 10px;
      margin-bottom: 0px;
      padding: 20px;
    }
    
    p {
      padding: 40px;
      padding-bottom: 70px;
      font-size: 22px;
    }

    a {
      padding-top: 30px;
      text-decoration: none;
      color: white;
      padding: 20px;
      border-color:azure;
      border-style: solid;
      border-radius: 30px;
      background-color: #0489D9;
      &:hover {
        transition: 0.3s;
        font-size: 110%;
        opacity: 1;
        background-color: $PrimSdagColor;
        font-weight: bold;
      }
    }

    svg {
      margin: auto;
      height: 15px;
      width: 15px;
      fill: white;
    }
  }

  .contact {
    margin: auto;
    max-width: 400px;
    padding-top: 50px;
    
    p {
      font-size: 13px;
    }

    a{
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
        font-size: 110%;
        opacity: 0.7;
      }
    }
  }
}

//____________________________ Fortigate
.fortigate {
  margin: auto;
  display: flex;
  max-width: 1600px;
  h1{
    padding: 30px;
  }

  .configuration {
    flex: 1;
    border: 2px solid white;
    background-color: $PrimSdagColor;
    border-radius: 50px 0px 0px 50px;
    padding: 20px;
    color: white;
    
    form {
      flex-direction: column-reverse;
      .object {
        padding: 20px;
        label {
          padding: 0px 25px;
          
        }
      }
    }
  }
    
  .textfile {
    max-width: 400px;
    border: 2px solid $PrimSdagColor;
    border-radius: 0px 25px 25px 0px;
    color: white;
    background-color: rgb(179, 177, 177);
    padding: 20px;
    max-height: 100vh;
    white-space: nowrap;
    width: 100%;

    h3{
      padding-top: 20px;
      color: white;
    }

    label{
      float: right;
    }

    button{
      background-color: white;
    }

    svg {
      height: 35px;
      width: 35px;
      padding: 0px 10px 0px 20px;
      &:hover {
        cursor: pointer;
      }
    }
    
    .rawconfig {
      textarea{
          width: 100%;
          min-height: 650px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 8px;
          background-color: #f8f8f8;
          font-size: 16px;
          text-align: left;
          //overflow-x: scroll;
          //overflow-y: scroll;
          //display: inline-block;
          //overflow: hidden;
          //text-overflow: ellipsis;
      }

      p{
        text-align: left;
        color: black;
        background-color: white;
      }
    }
  }
}

//____________________________ NoPage
.nopage {
  padding: 50px;

  h1{
    padding-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: $SecSdagColor;
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}


